.file-message {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 320px;
}

.file-icon-wrapper {
    width: 40px;
    height: 40px;
    background-color: #d3d3d3; /* Gri kutu */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.file-icon {
    width: 24px;
    height: 24px;
}

.file-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.file-name {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.file-size {
    font-size: 12px;
    color: white;
    text-align: left;
}

.download-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.download-icon:hover {
    opacity: 0.7;
}
