body {
    margin: 0;
}

body.rtl .rtl-text {
    unicode-bidi: isolate;
    direction: rtl;
    text-align: right;
}

.cx-message-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #F4F4F4;
}

.footer-buttons {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 12px 30px;
    height: 24px;
}

.cx-button img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.footer-text-area {
    flex-grow: 1;
    position: relative;
}

.cx-message-input {
    width: 100%;
    height: 24px;
    border: none;
    outline: none;

    color: #333; 
    font-size: 14px;
    font-family: 'Rubik';
    
    line-height: 20px;
    box-shadow: none; 
    resize: none;

    max-height: 36px; /* 3 satırdan fazla yazıldığında max yüksekliği */
}

.cx-message-input::placeholder {
    color: #fff;
    opacity: 0.6; 
}

.footer-text-area {
    width: auto;
}

#btnAttach {
    width: 24px;
    height: 24px;
    cursor: pointer;

    background-image: url(../img/attachvector.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#btnSendMessage {
    width: 24px;
    height: 24px;
    cursor: pointer;

    background-image: url(../img/sendvector.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}