.cx-container {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#top-app {
    width: 100%;
    height: 64px;
    left: 0px;
    top: 52px;
}

.cx-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    width: 100%;
    height: 64px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-bottom:1px solid #F4F4F4;
}

.cx-header .cx-header-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 10px;

    width: 40px;
    height: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#arrow-icon {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;

    background-image: url(../img/arrow-icon.svg);
    background-size: contain;
}

#arrow-leading-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 48px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#arrow-icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cx-header .cx-header-text {
    width: 100%;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cx-header .cx-header-text .cx-header-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #22211F;
    display: flex;
    align-items: center;
    color: #22211F;
    flex: none;
    order: 1;
    flex-grow: 1;
}   

#delete-icon {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
	user-select: none;

    background-image: url(../img/exitreject.svg);
    background-size: contain;
}

#state-layer-delete{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;

    width: 40px;
    height: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#delete-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 40px;
    height: 40px;

    border-radius: 100px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#delete-icon-trailing3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 48px;
    height: 48px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

#delete-icon-trailing{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;

    height: 48px;

    flex: none;
    order: 2;
    flex-grow: 0;
}



