
.cx-message-area {
    /*padding: 11px 14px;*/
    height: calc(100% - 64px);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Message Area Privacy Policy */

.cx-message-area .cx-privacy-policy {
    padding-left: 20px;
    padding-bottom: 5px;
    word-break: break-all;
    
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;

    color: #C7C3C3;
}

.cx-message-area .cx-privacy-policy::before {
    content: " ";
    position: absolute;
    margin-left: -20px;
    width: 14px;
    height: 14px;
    background: url(../img/information-gray-icon.svg) no-repeat;
}

.cx-message-area .cx-privacy-policy a {
    color: #5684DD;
}

/* Message Area Messages */

.cx-message-area .cx-messages {
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;

    display: flex;
    flex-flow: column nowrap;
}


.cx-messages .cx-message {
    margin-bottom: 15px;
}

.cx-messages .cx-message:first-child {
    /*margin-top: auto;*/
}

.cx-messages .cx-message .cx-message-body .cx-message-text {
    padding: 15px;
    word-break: keep-all;
    white-space: break-spaces;
}

.cx-messages .cx-message-system .cx-message-icon {
    display: none;
}

.cx-messages .cx-message-system .cx-message-body {
    text-align: center;
    background: #f9f9f9; /* #F5F5F5 Opacity: 0.51*/
    border-radius: 8px;

    font-weight: 100;
    font-size: 12px;
    line-height: 12px;

    color: #242321;
    border: 1px solid #eeeeee;
}

.cx-messages .cx-message-system .cx-message-body .cx-message-time {
    display: none;
}

.cx-messages .cx-message-agent {
    display: flex;
    flex-direction: row;
}

body.rtl .cx-messages .cx-message-agent {
    flex-direction: row-reverse;
}

.cx-messages .cx-message-agent .cx-message-icon .icon-image {
    display: none;
    width: 26px;
    height: 26px;
    margin-right: 15px;
    background: url(../img/logo.png) no-repeat;
    background-size: cover;
} 

.cx-messages .cx-message-agent .cx-message-icon .icon-text {
    display: none;
    margin-top: 4px;
    font-size: 10px;
    line-height: 12px;

    color: #242321;
}

.cx-messages .cx-message-agent .cx-message-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    /*padding: 12px 16px;*/
    gap: 10px;

    width: auto;
    max-width: 75%;
    height: auto;
    left: 20px;
    top: 129px;

    background: #000000;
    opacity: 0.8;
    box-shadow: 0px 4px 16px rgba(20, 37, 61, 0.16);
    border-radius: 8px 8px 8px 8px;
    color: white;
    font-size: 14px;
    text-align: left;
}

.cx-messages .cx-message-agent .cx-message-body .cx-message-time {
    display: none;
}

.cx-messages .cx-message-participant {
    display: flex;
    flex-direction: row-reverse;
}

body.rtl .cx-messages .cx-message-participant {
    flex-direction: row;
}

.cx-messages .cx-message-participant .cx-message-icon {
    display: none;
}

.cx-messages .cx-message-participant .cx-message-body {
    display: flex;
    flex-direction: row-reverse;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*padding: 12px 16px;*/
    gap: 10px;

    width: auto;
    max-width: 75%;
    height: auto;
    left: 20px;
    top: 129px;

    background: #000000;
    opacity: 0.8;
    box-shadow: 0px 4px 16px rgba(20, 37, 61, 0.16);
    border-radius: 8px 8px 8px 8px;
    background-color: #565656;
    color:  #FFFFFF;
    font-size: 14px;
    text-align: right;
}

.cx-messages .cx-message-participant .cx-message-body .cx-message-text {
    border-radius: 8px 8px 0px 8px;
    width: 100%;
}

.cx-messages .cx-message-participant .cx-message-body .cx-message-time {
    display: none;
}