#cx-widget-icon {
    z-index: 9998;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

    #cx-widget-icon img {
        width: auto;
        height: auto;
        max-width: 150px;
        max-height: 150px;
    }

    #cx-widget-icon span#cx-widget-counter {
        display: block;
        width: 18px;
        height: 18px; 
        
        position: absolute;
        top: -4px;
        right: 8px;

        background-color: #B00023;
        border-radius: 50%;   
        text-align: center;

        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 18px;

        color: #FFFFFF;
    }

#cx-widget-frame {
    z-index: 9999;
    position: fixed;
    right: 20px;
    bottom: 100px;
    border: none;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}

/* Screen Resize */
@media only screen and (max-height: 620px) {

    #cx-widget-frame {
        top: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        height: 100% !important;
    }

}

/* Screen Mobile */
@media only screen and (hover: none) and (pointer: coarse){

    #cx-widget-frame {
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        height: 100% !important;
        width: 100% !important;
    }

}